.header {
    grid-area: header;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.header__image {
    fill: #1878ED;
    height: 36px;
    display: block;
}