/*Обнуляем уже существующие стили*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    background-color: #F7F8FA;
    /*background-color: #c7c7c7;*/
    font-family: ".SF NS", sans-serif;
}
.box-shadow {
    box-shadow: 0 0 10px rgba(24, 25, 26, 0.05);
    transition: 0.3s;
}
.box-shadow:hover {
    box-shadow: 0 0 15px rgba(24, 25, 26, 0.1);
}

.app-wrapper {
    padding: 10px 28px 0 28px;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 220px 10fr;
    grid-template-areas:
    "header header"
    "nav content";
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.header__image {
    height: 36px;
    display: block;
}

.nav {
    grid-area: nav;
    background-color: #fff;
    border-radius: 10px;
    padding: 18px 0;
    align-self: start;
    font-size: 16px;
    font-weight: 600;
}
.a-nav-container {
    padding: 0 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
    margin: -1px 0;
    transition: 0.3s;
}
.a-nav-container:hover {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    background-color: #FBFBFB;
}
.a-nav-container:hover a .nav-container .nav-title{
    color: #1878ED;
}
.a-nav-container:hover a .nav-container .nav-icon-container .nav-icon{
    fill: #1878ED;
}

.a-nav-container:last-child a .nav-container {
    border-bottom: none;
}
.nav-icon-container {
    height: 24px;
}

.nav-container {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px 0;
    margin: -1px 0;
    border-bottom: 1px solid #efefef;
}
.nav-icon {
    height: 100%;
    font-weight: bold;
    fill: #838793;
    transition: 0.3s;
}
.nav-title {
    display: flex;
    align-items: center;
    color: #3d4557;
    transition: 0.3s;
}

.main-content {
    grid-area: content;
}
.big-image {
    border-radius: 10px;
}
.full-width-image {
    width: 100%;
}
.big-image-container {
    margin: 0 0 10px 0;
}

.avatar-description-container {
    display: flex;
    margin: 0 0 10px 0;
}
.avatar-container {
    width: 80px;
}
.description {
    padding: 8px;
}