.form {
    display: grid;
    grid-template-columns: 1fr 105px;
    grid-template-rows: 48px;
    border-radius: 10px;
}

.input {
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: #3d4557;
}

.input::placeholder {
    font-weight: 600;
    font-size: 16px;
    color: #838793;
}

.post_it {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    background-color: #1878ED;
    border-radius: 10px;
    cursor: pointer;
}
.icon_container {
    height: 16px;
}
.icon {
    height: 100%;
    fill: #fff;
}
.title {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}