.big_image {
    border-radius: 10px;
    width: 100%;
}

.big_image_container {
    margin: 0 0 10px 0;
}

.avatar_description_container {
    display: flex;
    margin: 0 0 10px 0;
}
.avatar_container {
    width: 60px;
    overflow: hidden;
    border-radius: 8px;
}

.name{
    font-weight: 600;
    font-size: 16px;
    color: #3d4557;
    margin-bottom: 4px;
}

.about{
    color: #838793;
}

.avatar {
    width: 100%;
}
.description {
    padding: 0 8px;
}