.new_message_form {
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 50px;
}

.input_container {
    flex: 1;
    padding: 0 0 0 20px;
}

.input {
    width: 100%;
}

.send_button {
    display: block;
    height: 40px;
    padding: 10px 20px;
    background-color: transparent;
}